.navbar{
    height: 100px;
    display: flex;
    justify-content:space-between;
    align-items:center;
    margin:0 80px;
    overflow: hidden;
}

.rightside{
    display: flex;
    margin-left: 100px;
    padding: 10px;

}

.active{
    border-bottom: 2px solid red;
}

.rightside > li {
    list-style: none;
    padding: 10px;
    
}

.rightside > li :active{
    border-bottom: 2px solid rgb(32, 216, 87);
}

.rightside > li > a{
    text-decoration: none;
    color: #111;
    font-weight: 600;
 
}

.sidebarWhite{
    display: none;
}

.sidebarView{
    
    width: 100%;
    height: 100%;
    position: absolute;
    background: #000;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding: 0;
    flex-direction: column;
}

.sidebarView > li{
    list-style: none;
    padding: 10px 0;
}

.sidebarView li a{
    color: #fff;
    
}

@media (max-width:569px){
    .rightside{
        display: none;
    }
    
    .sidebarWhite{
        display: block;
        z-index: 1000;
        
    }
    
    .sidebarBlack{
        display: block;
        z-index: 1000;
        color: #fff;       
    }
    
    .navbar{
        margin:0 20px;
    }
}